<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moizaandroid.moiza" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MoizaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOIZA"
        android:usesCleartextTraffic="true" >
        <activity
            android:name="com.moizaandroid.moiza.ui.register.SignUpActivity"
            android:exported="false" />
        <activity
            android:label="@string/title_activity_sign_in_activity"
            android:theme="@style/Theme.MOIZA"
            android:name="com.moizaandroid.moiza.ui.login.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.moizaandroid.moiza.ui.splash.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moizaandroid.moiza.ui.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>